/*FOOTER*/

.footer {
   background-color: #000;
   color: #fff;
   padding-top: 28px;
   padding-left: 50px;
   padding-right: 50px;
}

.footer-top {
   display: flex;
   align-items: baseline;
   justify-content: flex-start;
   gap: 55px;
   margin-bottom: 40px;
}

.footer-top h6 {
   font-size:18px;
   font-weight: 600;
   margin-bottom: 10px;
}

.footer-top ul li{
   color: #a09d9d;
   font-size: 15px;
   padding: 5px 0px;
}

.footer-top ul li:hover{
   color: #fff;
   text-decoration: underline;
}
